# Intellij
.idea/
*.iws
*.ipr
*.iml

# Gradle
.gradle/

# Vim
*.swp

# Build
*/build
*/project
*/target
*/out/
docker/*/*.jar

# Logs
*/application.log.*
*/application.log
derby.log
project/
target/

# Misc
.DS_Store

# Derby
metastore_db/

*.log
