version: 2
jobs:
 deploy-job:
     docker:
         - image: circleci/openjdk:8-jdk
     steps:
         - checkout
         - restore_cache:
             keys:
                 - producer-dependencies-{{ checksum "./CitibikeApiProducer/build.gradle" }}
                 - producer-dependencies-
         - restore_cache:
             keys:
                 - rawDataSaver-dependencies-{{ checksum "./RawDataSaver/build.sbt" }}
                 - rawDataSaver-dependencies-
         - run:
             command: ./sbin/buildAll.sh

         - save_cache:
             key: rawDataSaver-dependencies-{{ checksum "./RawDataSaver/build.sbt" }}
             paths:
                - "~/.ivy2/cache"
 
         - save_cache:
             key: producer-dependencies-{{ checksum "./CitibikeApiProducer/build.gradle" }}
             paths:
                - "~/.gradle"
         - add_ssh_keys:
             fingerprints:
                 - "03:b4:c1:08:ff:85:31:b8:6f:e6:a5:cf:5b:54:b4:23"
         - run:
             command: ./sbin/deploy.sh
workflows:
  version: 2
  build_and_test:
    jobs:
      - deploy-job
