defaults: &defaults
  docker:
  - image: circleci/openjdk:8-jdk
  working_directory: /home/circleci/project

version: 2
jobs:
  build-producer:
    <<: *defaults
    steps:
    - checkout
    - restore_cache:
        keys:
        - java-dependencies-{{ .Branch }}-{{ checksum "./CitibikeApiProducer/build.gradle" }}
    - run:
        command: ./sbin/buildProducer.sh
    - persist_to_workspace:
        root: /home/circleci/project
        paths:
        - CitibikeApiProducer/build/
    - run:
        command: ls /home/circleci/project/
    - save_cache:
        key: java-dependencies-{{ .Branch }}-{{ checksum "./CitibikeApiProducer/build.gradle" }}
        paths:
        - "~/.gradle"
  build-raw-data-saver:
    <<: *defaults
    steps:
    - checkout
    - restore_cache:
        keys:
        - scala-dependencies-{{ .Branch }}-{{ checksum "./RawDataSaver/build.sbt" }}
    - run:
        command: ./sbin/buildRawDataSaver.sh
    - persist_to_workspace:
        root: /home/circleci/project
        paths:
        - RawDataSaver/target/
    - run:
        command: ls /home/circleci/project/
    - save_cache:
        key: scala-dependencies-{{ .Branch }}-{{ checksum "./RawDataSaver/build.sbt" }}
        paths:
        - "~/.ivy2/cache"
  build-station-consumer:
    <<: *defaults
    steps:
    - checkout
    - restore_cache:
        keys:
        - scala-dependencies-{{ .Branch }}-{{ checksum "./StationConsumer/build.sbt"}}
    - run:
        command: ./sbin/buildStationConsumer.sh
    - persist_to_workspace:
        root: /home/circleci/project
        paths:
        - StationConsumer/target/
    - run:
        command: ls /home/circleci/project/
    - save_cache:
        key: scala-dependencies-{{ .Branch }}-{{ checksum "./StationConsumer/build.sbt"}}
        paths:
        - "~/.ivy2/cache"
  build-file-checker:
    <<: *defaults
    steps:
    - checkout
    - restore_cache:
        keys:
        - scala-dependencies-{{ .Branch }}-{{ checksum "./FileChecker/build.sbt"}}
    - run:
        command: ./sbin/buildFileChecker.sh
    - persist_to_workspace:
        root: /home/circleci/project
        paths:
        - FileChecker/target/
    - run:
        command: ls /home/circleci/project/
    - save_cache:
        key: scala-dependencies-{{ .Branch }}-{{ checksum "./FileChecker/build.sbt"}}
        paths:
        - "~/.ivy2/cache"
  deploy-to-uat:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/project
      - add_ssh_keys:
          fingerprints:
            - "20:06:55:5a:f2:31:72:ad:6b:62:d1:35:3b:58:d2:10"
      - run:
          command: ./sbin/deploy-uat.sh
  deploy-to-prod:
    <<: *defaults
    steps:
    - checkout
    - attach_workspace:
        at: /home/circleci/project
    - add_ssh_keys:
        fingerprints:
        - "ce:0b:2b:b0:20:ad:54:ed:a0:7d:f6:8a:06:a4:be:5e"
    - run:
        command: ./sbin/deploy-prod.sh

workflows:
  version: 2
  build_and_deploy:
    jobs:
    - build-producer:
        filters:
          branches:
            only:
            - master
    - build-raw-data-saver:
        filters:
          branches:
            only:
            - master
    - build-station-consumer:
        filters:
          branches:
            only:
            - master
    - build-file-checker:
        filters:
          branches:
            only:
            - master

    - deploy-to-uat:
        requires:
        - build-producer
        - build-raw-data-saver
        - build-station-consumer
        - build-file-checker

    - approve-deploy-to-prod:
        type: approval
        requires:
        - deploy-to-uat

    - deploy-to-prod:
        requires:
        - approve-deploy-to-prod

